/* General style */

body {
    background-color: #eceef1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-btn {
    background-color: #0077c5;
    border-style: solid;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
}

.blue-links {
    color: #0077c5;
}


/* page header */

.page-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
}

.page-header p {
    font-size: 0.7rem;
    margin-right: 10px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}


/* end page header */


/* Main Section */

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main-logo {
    width: 120px;
    margin-bottom: 12px;
}

.logo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo-list a {
    text-decoration: none;
    font-family: Helvetica;
    letter-spacing: 0.1rem;
    color: #666;
}

.logo {
    width: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

.brand {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    flex-flow: column;
}


/*End Main Section */